<h2> New Project </h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title"> Enter Project Name:</label>
    <input id="project_title" name="project_title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-primary"> Add Project</button>

 <a href="/projects" class="btn btn-info"> Back to Projects </a>   
